$ORIGIN {{ hostname }}.    ; default zone domain
$TTL 86400           ; default time to live

@ IN SOA ns1.{{ hostname }}. hostmaster.{{ hostname }}. (
           2014042300     ; serial number
           28800       ; Refresh
           7200        ; Retry
           864000      ; Expire
           86400       ; Min TTL
           )

           NS          ns1.{{ hostname }}.
           NS          ns2.{{ hostname }}.
           IN     A    {{ public_ip }}
           MX     10   {{ hostname }}.

           300    TXT  "v=spf1 mx -all"

www        IN     A    {{ public_ip }}
ns1        IN     A    {{ public_ip }}
ns2        IN     A    {{ public_ip }}
